sanic==21.6.2
async-lru==1.0.2
asyncpg==0.23.0
celery==5.1.2
redis==3.5.3
flower==1.0.0
httpx==0.18.2
aioredis==2.0.0
psycopg2==2.9.1
tortoise-orm[asyncpg]==0.17.6
# git+https://github.com/tortoise/aerich.git@dev
aerich==0.5.7